//为px单位转换为rem单位，封装函数
@function rem($size){
  @return ($size/108*1rem);
}
//定义主题颜色
$NE-color:#d33a31;
//$width:10rem/2;
//首页进入动画
html, body{
   height:100%;
   width:100%;
 }
//给body设置3d距离
body {
  perspective:rem(5000000);
}
//登录容器的3d盒子
.login-container {
  position:relative;
  width:100%;
  height:100%;
  transform-style:preserve-3d;
  transition:all 1.2s;
  //&:hover {
  //  transform:rotateY(-90deg);
  //}
  //登陆页面样式表
  .login{
    position:absolute;
    width:100%;
    height:100%;
    transform:translateZ(10rem);
    //登录页面背景
    .login-background{
      width:100%;
      height:100%;
      opacity:0.5;
      //background:url("../images/loading1.png") center/100% 100%;
      //渐变遮罩效果
      background-color:#fff;
      .background-shade{
        position:absolute;
        width:100%;
        height:100%;
        //background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.98) 40%);
        background-color:#fff;
      }
    }
    //logo样式
    .logoImg{
      position:absolute;
      top:rem(160);
      left:50%;
      transform:translateX(-50%);
      width:rem(200);
      height:rem(200);
      border-radius:rem(20);
      box-shadow:0 0 rem(10) hotpink;
    }
    //登录-注册样式
    .login-register{
      position:absolute;
      top:rem(480);
      width:100%;
      height:35%;
      //border:1px solid #000;
      p{
        width:100%;
        height:100%;
        font-size:rem(40);
        text-align:center;
        line-height:200%;
        color:$NE-color;
        border-radius:rem(35);
      }
      //手机号登录样式
      .phone-login{
        position:relative;
        width:80%;
        height:rem(90);
        margin:rem(30) auto;
        border:1px solid red;
        border-radius:rem(35);
      }
      //注册样式
      .phone-register{
        position:relative;
        width:80%;
        height:rem(90);
        margin:rem(30) auto;
        border:1px solid red;
        border-radius:rem(35);
      }
      .login-active {
        background-color:$NE-color;
        color:#fff;
      }
      //登录样式
      .customer-try{
        display:block;
        width:30%;
        height:rem(20);
        margin:rem(50) auto;
        font-size:rem(20);
        text-align:center;
        line-height:rem(20);
        //text-decoration:inherit;
        //text-decoration-color:darkgray;
        color:#555;
      }
    }
    //其他登录样式
    .other-login {
      position:absolute;
      width:100%;
      height:rem(200);
      top:rem(930);
      text-align:center;
      p {
        position:relative;
        font-size:rem(24);
        color:#555;
        &::before {
          content:"";
          position:absolute;
          left:rem(60);
          top:50%;
          transform:translateY(-50%);
          width:rem(150);
          height:rem(4);
          background-image:linear-gradient(to right,rgba(255,255,255,0.8),rgba(150,150,150,1));
        }
        &::after {
          content:"";
          position:absolute;
          right:rem(60);
          top:50%;
          transform:translateY(-50%);
          width:rem(150);
          height:rem(4);
          background-image:linear-gradient(to left,rgba(255,255,255,0.8),rgba(150,150,150,1));
        }
      }
      .login-logo {
        display:flex;
        justify-content:space-around;
        align-items:center;
        width:90%;
        height:rem(100);
        text-align:center;
        margin:0 auto;
        margin-top:rem(30);
        a {
          display:flex;
          justify-content:center;
          align-items:center;
          width:rem(100);
          height:rem(100);
          margin:0 rem(8);
          border:1px solid darkgray;
          border-radius:50%;
          &:nth-of-type(1) {
            color:yellowgreen;
            &:hover {
              color:#fff;
              background-color:$NE-color;
            }
          }
          &:nth-of-type(2) {
            color:red;
            &:hover {
              color:#fff;
              background-color:$NE-color;
            }
          }
          &:nth-of-type(3) {
            color:#34A0DF;
            &:hover {
              color:#fff;
              background-color:$NE-color;
            }
          }
          &:nth-of-type(4) {
            color:#34A0DF;
            &:hover {
              color:#fff;
              background-color:$NE-color;
            }
          }
        }
      }
    }
  }
  //登入页面
  @keyframes anip {
    10%{height: rem(60)}
    90%{height: rem(60)}
    100%{height: 0}
  }
  @keyframes anib {
    10%{left:0}
    20%{left:-50%}
    80%{left:-50%}
    90%{left:0}
    100%{left:0}
  }
  @keyframes ania {
     10%{right:0}
     20%{right:-50%}
     80%{right:-50%}
     90%{right:0}
    100%{right:0}
  }
  .login-in {
    position:absolute;
    width:100%;
    height:100%;
    transform:rotateY(90deg) translateZ(5rem);
    .fa-long-arrow-left {
      position:absolute;
      left:rem(20);
      top:rem(30);
      font-size:rem(40);
      color:#fff;
    }
    h2.login-title {
      width:100%;
      height:rem(100);
      font-size:rem(40);
      line-height:rem(100);
      padding-left:rem(90);
      font-weight:normal;
      color:#fff;
      background-color:$NE-color;
    }
    &>p{
      width: 100%;
      height: 0;
      background-color: orange;
      text-align: center;
      font-size: rem(32);
      padding-top: rem(4);
      z-index: -1;
      color: #fff;
      overflow: hidden;
      position: relative;
      &::before,&::after{
        content: '';
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        transform: rotate(0deg);
        background-color: orange;
      }
      &::after{
        right: 0;
        transform: rotate(180deg);
      }
      &.cover{
        animation:anip 3s linear 1;
        &::before{
          animation:anib 3s linear 1;
        }
        &::after{
          animation:ania 3s linear 1;
        }
      }
    }
  //输入框&字体图标容器
    .login-input{
      position:absolute;
      left:50%;
      transform:translateX(-50%);
      width:90%;
      height:6%;
      &:nth-of-type(1) {
        top:rem(150);
      }
      &:nth-of-type(2) {
        top:rem(300);
      }
      &:nth-of-type(3) {
        top:rem(450);
        display:none;
      }
      //phone\lock样式
      span{
        position:absolute;
        left:rem(38);
        top:50%;
        transform:translateY(-50%);
        z-index:1;
        font-size:rem(60);
        color:darkgray;
        &.lock{
          font-size:rem(50);
        }
      }
      //输入框样式
      input{
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
        width:100%;
        height:100%;
        padding-left:rem(100);
        padding-bottom:rem(0);
        font-size:rem(30);
        border-bottom:1px solid darkgray;
        color:darkgray;
      }
    }
    //验证码
      .login-code {
        display:none;
        position:absolute;
        top:rem(600);
        left:55%;
        transform:translateX(-50%);
        width:80%;
        height:rem(80);
        .code {
          float:left;
          width:40%;
          height:100%;
          text-align:center;
          border:1px solid #000;
          border-radius:rem(5);
          font-size:rem(40);
          color:#000;
        }
        a {
          float:right;
          width:50%;
          margin-right:rem(30);
          height:100%;
          line-height:rem(80);
          text-align:center;
          background-color:$NE-color;
          border-radius:rem(5);
          font-size:rem(36);
          color:#fff;
        }
      }
    //登录按钮
    .login-button {
      position:absolute;
      top:rem(450);
      left:50%;
      transform:translateX(-50%);
      width:85%;
      height:rem(80);
      background-color: $NE-color;
      border-radius:rem(20);
      color:#fff;
      font-size:rem(40);
      font-weight:normal;
      text-align:center;
      line-height:rem(80);
    }
    .register-button {
      top:rem(750);
    }
  }
}
